.anim-loop-da-loop{
    animation-name: anim-loop-da-loop;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

@keyframes anim-loop-da-loop {
    from {
        opacity: 0;
        rotate: 180deg;
        scale: 0;
    }
    to {
        opacity: 1;
        rotate: 0deg;
        scale: 1;
    }
}

.anim-from-left{
    animation-name: anim-from-left;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes anim-from-left {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.anim-from-bottom {
    animation-name: anim-from-bottom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes anim-from-bottom {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.anim-pop-from-bottom {
    animation-name: anim-pop-from-bottom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes anim-pop-from-bottom {
    from {
        opacity: 0;
        transform: translateY(100%);
        scale: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0%);
        scale: 1;
    }
}

@media (min-width: 500px){
    .anim-delay-0-5s {animation-delay: .5s;}
    .anim-delay-1s {animation-delay: 1s;}
    .anim-delay-1-5s {animation-delay: 1.5s;}
}